<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #444; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }


/* ===================================== Fooer CSS ================================== */


/* ===================================== Gallery Style  ================================== */
.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea; }
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 992px) {
    .page-nav {
      background-size: auto; } }
  @media screen and (max-width: 767px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  .page-nav h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-size: .93rem;
    font-weight: 600;
    color: #444; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444;
      font-size: .93rem;
      font-weight: 600; }

.gallery-filter {
  width: 100%;
  text-align: center; }

.gallery-filter .btn {
  background-color: #FFF; }

.gallery {
  padding: 50px;
  padding: 30px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .gallery {
      padding: 30px 10px; } }

.gallery-title {
  font-size: 36px;
  color: #00ab9f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px; }

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #3cc88f; }

.filter-button {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #3cc88f;
  margin-bottom: 30px; }

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 8px;
  text-align: center;
  color: #ffffff;
  background-color: #3cc88f; }

.btn-default:active .filter-button:active {
  background-color: #3cc88f;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; 
}

@media screen and (max-width: 770px) {
  .filter-button {
    display: flex;
    width: 20%;
  }
 
}
=======
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);

form{
    width: 100%;
}
.our-blog .single-blog img {
    width: 100%;

}
.our-blog .single-blog {
    margin: 30px 0px;
    transition: transform .5s;
}
.our-blog .single-blog:hover{
    transform: translateY(-8px);
}


.our-blog {
    background-color: #FDFDFD;
    padding: 40px; }
  

  @media screen and (max-width: 967px) {
    .our-blog {
      padding: 30px 0px; } }
  .our-blog .single-blog {
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
  
  .our-blog .single-blog figure {
    margin-bottom: 5px; }
  
  .our-blog .single-blog .blog-detail {
    padding: 15px; }
  
  .our-blog .single-blog small {
    color: #71b61b;
    font-size: 12px; }
  
  .our-blog .single-blog h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px; }
  
  .our-blog .single-blog p {
    text-align: justify;
    text-indent: 20px; }
  
  .our-blog .single-blog .link a {
    font-size: 14px;
    color: #FFF;
}
.our-blog .single-blog .link a:hover{
    text-decoration: none;
}

    
  .link button{
    background-color: blue;
    

  }
  .our-blog .single-blog .link i {
    padding-top: 3px;
    margin-left: 5px;
    color: #ffffff; }

    
<<<<<<< HEAD
/* .content-section{
  align-items: center;
  text-align: center;
  justify-content: center;
}  

.Profile{
  align-items: center;
  text-align: center;
  justify-content: center;

} */
=======


/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  max-width: 100% !important;
  overflow-x: hidden !important;
  padding: 0px;
  list-style: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  color: #444; }

a:hover {
  color: #444; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }


/* ===================================== Fooer CSS ================================== */


/* ===================================== Gallery Style  ================================== */
.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea; }
  .page-nav ul {
    float: none;
    margin: auto; }
  @media screen and (max-width: 992px) {
    .page-nav {
      background-size: auto; } }
  @media screen and (max-width: 767px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 356px) {
    .page-nav {
      padding-top: 200px;
      padding-bottom: 40px; } }
  .page-nav h2 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #444; }
    @media screen and (max-width: 600px) {
      .page-nav h2 {
        font-size: 26px; } }
  .page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-size: .93rem;
    font-weight: 600;
    color: #444; }
    .page-nav ul li i {
      width: 30px;
      text-align: center;
      color: #444; }
    .page-nav ul li a {
      color: #444;
      font-size: .93rem;
      font-weight: 600; }

.gallery-filter {
  width: 100%;
  text-align: center; }

.gallery-filter .btn {
  background-color: #FFF; }

.gallery {
  padding: 50px;
  padding: 30px;
  background-color: #FFF; }
  @media screen and (max-width: 940px) {
    .gallery {
      padding: 30px 10px; } }

.gallery-title {
  font-size: 36px;
  color: #00ab9f;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px; }

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #3cc88f; }

.filter-button {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #3cc88f;
  margin-bottom: 30px; }

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #3cc88f;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #3cc88f; }

.btn-default:active .filter-button:active {
  background-color: #3cc88f;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; 
}

@media screen and (max-width: 770px) {
  .filter-button {
    display: flex;
    width: 20%;
  }
 
}

>>>>>>> 1de695d9b89a0da794092334e7b4b560c26b3e90
>>>>>>> 9060b1180104eb64d165110fa6fbaf29ff1641ca
