body,
html {
	height: 100vh;
	margin: 0;
}

.login-column {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48.9em;
	position: relative;
}
.login {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}
.login-btn {
	margin: 0.7em 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.login-btn:hover {
	border: 3px solid #198754;
	color: #198754;
	background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
	h1 {
		font-size: 1.2em;
	}
	p,
	h6 {
		font-size: 0.6em;
	}
	.card-column {
		height: 53em;
	}
	.login {
		font-size: 3em;
		width: 50vw;
	}
	.login-btn {
		font-size: 0.8em;
	}
}
