.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	margin:0 6px;
	width:264px;
	position:relative
}
.col2 {
	margin:0 6px;
	width:560px;
	position:relative
}
#page3 .col1 {
	width:870px
}
#page4 .box2 .col1 {
	width:870px
}
