{% load static%}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Charity mgt - {{title}}</title>
  {% else %}
    <title> Charity mgt  </title>
  {% endif %}

  {% block styles %}
  
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shalimar&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/fav.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/plugins/slider/css/owl.carousel.min.css"> 
    <link rel="stylesheet" href="/static/plugins/slider/css/owl.theme.default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

  {% endblock %} 
  
</head>
<body>
    {% include "navbar.html" %}
    {% block content %} 
    
    {%endblock%}
    {% include "footer.html" %}


    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
        <script src="/static/plugins/slider/js/owl.carousel.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/parallax.min.js"></script>

        

    
    {% endblock %}
</body>
</html>