{% extends "base.html" %}
{% block content %}
    <section class="our-blog">
            <div class="container">
                <div class="blog-row row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/fund.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By Mohamed | February 01 2022</small>
                                <h4>Each of us need all of us</h4>
                                <p> Fear, sadness, worry - these are the words we hear over and over again by our brothers and sisters who are fleeing conflict and war.
                                    Across Africa, we are witnessing a refugee crisis, unlike anything we’ve seen before. 33.4 million people have been forced to flee their homes. Many have seen family members killed in front of their eyes, their villages and homes burnt to the ground.
                                    </p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/ues.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By Elizabeth | February 01 2022</small>
                                <h4>Online donation</h4>
                                <p> Accepting online donations is essential for raising money from donors who are willing to drop donations And there are plenty of tools to help lift the weight of planning and organizing off your back!
                                    Ensure that your online donation experience is easy for donors and provide a conversant way to donate supporters. By making it easy to contribute online for more money.</p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/get3.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By Timothy | February 01 2022</small>
                                <h4>Community Education</h4>
                                <p>The nation is stressed right now with concerns over our health and well-being.
									 Early childhood professionals are not exempt. Childcare is facing many challenges including workforce development,
									  keeping up with COVID-19, managing staff shortages, overall health concerns, financial stressors associated with the childcare business, and personal concerns that accompany low wages in early childhood.
                            </p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/unh.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By Ali | February 01 2022</small>
                                <h4>Child Hunger Prevention</h4>
                                <p> In order to survive, human bodies need food and that necessity is extensive in children. Children’s bodies are continuously growing and with the number of calories burning, they need food</p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/get5.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By Alphonce | February 01 2022</small>
                                <h4>Hope for our children</h4>
                                <p> The pandemic has forced us to find new and different ways to approach many issues. New EU policies and funding regulations that promote the transition from institutions to family and community-based care.
                                </p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog">
                            <figure>
                                <img src="/static/images/events/get6.jpg" alt="">
                            </figure>
                            <div class="blog-detail">
                                <small>By David | February 01 2022</small>
                                <h4>Child Education</h4>
                                <p> Through its school and national outreach programs, Online Charity management helps children with special needs obtain a quality education, develop life skills, and become more independent.</p>
                                <div class="link">
                                    <button class="btn btn-outline-success p-2 mt-3 bg-success"><a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>
{% endblock %}