{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}
{% block content%}

<h1 class="text-center">Contact Us</h1>
<div style="margin-top:0px;" class="row no-margin">
  <iframe  style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d868021.564188024!2d35.87835457114989!3d-1.1994044021860617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1642673395465!5m2!1sen!2ske"  height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="row contact-rooo no-margin">
  <div class="container">
      <div class="row">


          <div style="padding:20px" class="col-sm-7">
            <h2 class="text-center">Contact Form</h2>
            <form id="contact-us">
              <div class="form-group justify-content-center row">
                <div class="col-md-4">
                  <label for="fname">Your Name:</label>
                  <input class="form-control" placeholder="Alphonce" id="name" type="text">
                </div>
                <div class="col-md-4">
                  <label for="email">Email:</label>
                  <input class="form-control" id="email" placeholder="info@charmgtgmail.com" type="email">
                </div>
                <div class="col-md-8">
                  <label for="comment">Phone Number:</label>
                  <input class="form-control" id="phone" placeholder="+254723870" type="number">
                </div>
                <div class="col-md-8">
                  <label for="comment">Message:</label>
                  <textarea class="form-control" id="comment" placeholder="Type something..." type="text" rows="4"></textarea>
                </div>
              </div>
              <button id="submit" type="submit" class="btn btn-success">Submit</button>
          </form>
          
    
          </div>
          <div class="col-sm-5">

              <div style="margin:20px" class="serv">

                  <h2 style="margin-top:10px;">Address</h2>

                  Ngong Road, <br>
                  23/H-2, Building<br>
                  Ngong, Nairobi<br>
                  Phone:+254 9159669599<br>
                  Email:info@charmgtgmail.com<br>
                  Website:www.charmgt.com<br>

              </div>

          </div>

      </div>
  </div>

</div>
{% endblock %}