<!-- footer -->
<footer>
    <div class="wrapper"> <a href="index.html" id="footer_logo"><span>Charity</span>Center</a>
      <ul id="icons">
        <li><a href="#" class="normaltip"><img src="/static/images/icon1.gif" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="/static/images/icon2.gif" alt=""></a></li>
        <li><a href="#" class="normaltip"><img src="/static/images/icon3.gif" alt=""></a></li>
      </ul>
    </div>
    <div class="wrapper">
      <nav>
        <ul id="footer_menu">
          <li><a href="/">Home</a></li>
          <li><a href="mission.html">Our Mission</a></li>
          <li><a href="news.html">About Us</a></li>
          <li><a href="help.html">How to Help</a></li>
          <li class="end active"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="tel"><span>+254 792</span>55 74 73</div>
    </div>
    <div id="footer_text">Copyright &copy; <a href="#">Charity Center</a> All Rights Reserved<br>
     </div>
  </footer>
  <!-- / footer -->