<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="index.html" id="logo">Hope Center</a></h1>
        <nav>
          <ul id="top_nav">
            <li><a href="index.html"><img src="images/top_icon1.gif" alt=""></a></li>
            <li><a href="#"><img src="images/top_icon2.gif" alt=""></a></li>
            <li class="end"><a href="contact.html"><img src="images/top_icon3.gif" alt=""></a></li>
          </ul>
        </nav>
        <nav>
          <ul id="menu">
            <li id="menu_active"><a href="index.html">Home</a></li>
            <li><a href="mission.html">Our Mission</a></li>
            <li><a href="news.html">News &amp; Press</a></li>
            <li><a href="help.html">How to Help</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
</body>
</html>