{% extends 'base.html' %}

{% block content %}


  
                 
  <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="/static/images/events/africa1.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h4 class="slider-title">Charity is happiness.</h4>
                                    <p class="slider-text hidden-xs">A great deal of good is charity you are doing good,.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/static/images/events/africa3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">Share your Joy With charity,Share your kindness ,yes! good days are ahead</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/static/images/events/slider-4.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">Show you care through Share</h1>
                                <p class="slider-text hidden-xs">-Even the smallest contributions count.Help the society, donate to the charity.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>                 
                  
 <!--  ************************* About Us Starts Here ************************** -->    
 <section class="our_activity">
     <div class="session-title row">
        <h2>OUR ACTIVITY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. </p>

     </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="material-icons">near_me</i>
                    </div>
                    <h2><a href="#">Fundraising</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="material-icons">favorite</i>
                    </div>
                    <h2><a href="#">Volunteering</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="single-Promo">
                    <div class="promo-icon">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <h2><a href="#">Our Programs</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                </div>
            </div>
        </div>
    </div>
</section> 

<section class="donors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="donors_input">
                    <h2>MAKE DONATION</h2>
                    <form action="{% url 'payment' %}" method="post">
                        {% csrf_token %}
                        
                       
                        <h5>
                            <input type="text" placeholder="Name/Organization">
                            <input type="email" placeholder="Email">
                        </h5>
                        <h4>
                            <select>
                            <option>Select Donation Project</option>
                            <option>Child Education in Africa</option>
                            <option>Better Access to Health Care</option>
                            <option>The vulnerable Groups in society</option>
                        </select>
                        </h4>
                        <input type="submit" value="DONATE">
                    </form>
                </div>
                <div class="donors_image">
                    <h2>FEATURED DONORS</h2>
                    <div class="donors_featured owl-carousel owl-theme">
                        <div class="item">
                            <img src="img/donors_featured_one.jpg" alt="">
                            <h3>Kenneth J. Garnica</h3>
                            <p>Donated Amount : <span>220 USD</span> </p>
                        </div>
                        <div class="item">
                            <img src="img/donors_featured_one.jpg" alt="">
                            <h3>Kenneth J. Garnica</h3>
                            <p>Donated Amount : <span>220 USD</span> </p>
                        </div>
                        <div class="item">
                            <img src="img/donors_featured_one.jpg" alt="">
                            <h3>Kenneth J. Garnica</h3>
                            <p>Donated Amount : <span>220 USD</span> </p>
                        </div>
                        <div class="item">
                            <img src="img/donors_featured_one.jpg" alt="">
                            <h3>Kenneth J. Garnica</h3>
                            <p>Donated Amount : <span>220 USD</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
     <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
            <div class="session-title row">
                <h2>Popular Causes</h2>
                <p>We are a non-profital & Charity raising money for child education,elevating the needs of the lowly in the society and giving hope to all those suffering.</p> 
            </div>
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/class.jpg" alt="">
                        <h4>Child Education in Africa</h4>
                        
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Children in Africa get a better chance to being better people in the society and industry at large.</p>
                        <button class="btn btn-success btn-sm"><span></span> Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/hosi.jpg" alt="">
                        <h4>Better Access to Health Care</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">People around the globe are able to get proper medical care from the funding raised from the donors.</p>
                        <button class="btn btn-success btn-sm"><span></span> Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/need.jpeg" alt="">
                        <h4>The vulnerable Groups in society</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Third world countries are at a better standing as they can get funds to support the different affected group i.e; widows,orphans,poor and many more.</p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    

   
   
    <!-- ################# Charity Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
               <div class="row session-title">
                   <h2>Our Achievements in Numbers</h2>
                   <p>We are proud to boost of alievating many critical conditions in the society.
Our donors funds have been put to good use,,;See the below statics</p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>2+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>1200+</h3>
                        <span>FUNDED NGO's</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>500+</h3>
                        <span>Approved Donations</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>$1.2B</h3>
                        <span>Donation Received</span>
                    </div>
                </div>
            </div>

        </div>

    </div> 
         
    <!--################### Our Team Starts Here #######################--->
     
    <!-- ################# Our Blog Starts Here#######################--->

          
    

{% endblock %}
