{% extends 'base.html' %}

{% block content %}


  
                 
  <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="/static/images/events/africa1.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h4 class="slider-title">Charity is happiness.</h4>
                                    <p class="slider-text hidden-xs">A great deal of good is charity you are doing good,.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/static/images/events/africa3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">Share your Joy With charity,Share your kindness ,yes! good days are ahead</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/static/images/events/slider-4.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">Show you care through Share</h1>
                                <p class="slider-text hidden-xs">-Even the smallest contributions count.Help the society, donate to the charity.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>                 
                  
 <!--  ************************* About Us Starts Here ************************** -->    
       
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>The local charity Organizations are among the most adversely affected groups by the Covid 19 Pandemic.
                    Majority of the donors are losing their ability to support these organizations because of the economic 
                    impact left behind by the pandemic. Furthermore, finding new donors is also an enormous challenge, 
                    leaving the thousands of beneficiaries impoverished. Charity is an act of kindness where someone donates what they have to the less fortunate.
                </p>
                <p> Our aim is to come up with a platform where we link both the donors and the Ngo's that need help.
                    Having a website that one can see and access from time to time will solve both the ngo and the donor from alot of hustle.
                    On the donor's side they get to see the approved Ngo's request from different categories,vet to see if they really deserve the funding,.
                </p>

                <p>This platform will be beneficial on the NGO's side too,in that they have a better chance to be known and funded,.
                    Having there online presence will grant them better chances of being funded by the many donors.
                    Due to the heavy digital migration of alot of firms and businesses it's only recommendable that this two fronts also get to be seen and heard.
                    This online will atracts alot of people from just ordinary people to moneyed people hence it will have a huge net of funds,hence the NGO's can remain afloat.
                </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                           <i class="fas fa-user"></i>
                            <p>Becom a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
   
   
    
 <!-- ################# Mission Vision Start Here #######################--->
  
  <section class="container-fluid mission-vision">
      <div class="container">
          <div class="row mission">
              <div class="col-md-6 mv-det">
                  <h1>Our Mission</h1>
                  <p>We connect Donors and NGO's and help bridge the gap between them.
                    Working together, we invest in the well being of the NGO's and the heart's of the donors.
                    the donors get information at ease hence make better and informed decisions.
                    This will help create a mutual ground to help and to also receive help.</p>
              </div>
              <div class="col-md-6 mv-img">
                  <img src="/static/images/miss.jpg" alt="">
              </div>
          </div>
          <div class="row vision">
              <div class="col-md-6 mv-img">
                   <img src="/static/images/vis.jpg" alt="">
              </div>
              <div class="col-md-6 mv-det">
                   <h1>Our Vision</h1>
                   <p>A world in which airing of needs is made easy and getting funds is made easier.</p>
              </div>
          </div>
      </div>
  </section>   
   

    
     <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
            <div class="session-title row">
                <h2>Popular Causes</h2>
                <p>We are a non-profital & Charity raising money for child education,elevating the needs of the lowly in the society and giving hope to all those suffering.</p> 
            </div>
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/class.jpg" alt="">
                        <h4>Child Education in Africa</h4>
                        
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Children in Africa get a better chance to being better people in the society and industry at large.</p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/hosi.jpg" alt="">
                        <h4>Better Access to Health Care</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">People around the globe are able to get proper medical care from the funding raised from the donors.</p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/static/images/need.jpeg" alt="">
                        <h4>The vulnerable Groups in society</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Third world countries are at a better standing as they can get funds to support the different affected group i.e; widows,orphans,poor and many more.</p>
                        <button class="btn btn-success btn-sm">Donate Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    

   
   
    <!-- ################# Charity Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
               <div class="row session-title">
                   <h2>Our Achievements in Numbers</h2>
                   <p>We are proud to boost of alievating many critical conditions in the society.
Our donors funds have been put to good use,,;See the below statics</p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>2+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>1200+</h3>
                        <span>FUNDED NGO's</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>500+</h3>
                        <span>Approved Donations</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>$1.2B</h3>
                        <span>Donation Received</span>
                    </div>
                </div>
            </div>

        </div>

    </div> 
         
    <!--################### Our Team Starts Here #######################--->
     
    <!-- ################# Our Blog Starts Here#######################--->

          
    

{% endblock %}
