{% extends 'base.html' %}
 {% load bootstrap4 %} 
 {% block content %}
<div class="container mt-4 ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="format">
                <div class="upt" id="myContent">
                    <h2 class="text-center text-primary mt-2 mb-4">Subscribe</h2>
                    <form class="forms text-center" action="{% url 'employerDash' %}" method="POST" enctype="multipart/form-data">

                        <fieldset class="form-group">
                            {% csrf_token %} {% load crispy_forms_tags %} {{ mpesa_form | crispy }} {% csrf_token %}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Pay</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
