{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<h2 class="text-center mt-4 text-success">NGO</h2>

<div class="container pt-5 pb-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" hidden value="" name="ngo_user">
        {{form|crispy}}
        <form action="/action_page.php mt-4">
            <label for="cars" class="mt-4 " >Choose Category:</label>
            <select name="Category">
                <option value="select">Select...</option>
              <option value="Child">Child education</option>
              <option value="Health">Health Care</option>
              <option value="Vulnurable">Vulnurable Groups</option>
            </select>
            <br><br>
          </form>
        <button type="submit" class="btn btn-outline-success mt-6">Submit</button>
    </form>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}